@font-face{font-family:"Regular";src:url("HelveticaNeueLTStd-Lt.otf") format("truetype")}
@font-face{font-family:"Light";src:url("OpenSans-Light.ttf") format("truetype")}
@font-face{font-family:"ExtraBold";src:url("HelveticaNeueLTStd-Bd.otf") format("truetype")}
@font-face{font-family:"Compacta";src:url("Abel-Regular.ttf") format("truetype")}
@font-face{font-family:"Cursiva";src:url("Windsong.ttf") format("truetype")}
@font-face{font-family:"Informal";src:url("CFCrayons-Regular.ttf") format("truetype")}
@font-face{font-family:"Bold";src:url("OpenSans-ExtraBold.ttf") format("truetype")}

body {
	margin: 0px;
	background-color: #fafafa;
	color: gray;
	font-family: Regular;
}

hr {
	margin-top:20px;
	margin-bottom: 2 0px;
	border: 1px dashed gray;
	opacity: 0.5;
}


.btn { text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.6); border-width:0px;
    font-size: 12pt;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.btn img { -webkit-box-shadow: -7px 1px 42px -12px rgba(0, 0, 0, 0.75); -moz-box-shadow: -7px 1px 42px -12px rgba(0, 0, 0, 0.75); box-shadow: -7px 1px 42px -12px rgba(0, 0, 0, 0.75); filter: drop-shadow(2px 2px 5px #444); }

.btn-Default{background-color:#d4d4d4;color:gray;font-family:"Regular";box-shadow:0 3px #797979;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6)
}
.btn-Default:hover{box-shadow:0 1px #797979;background-color:#d4d4d4;top:2px;}
.btn-Default:active{box-shadow:0 0 #797979;top:6px;}


.btn-Primary{background-color:rgb(0, 132, 219);color:white;font-family:"Regular";box-shadow:0 3px #015288;}
.btn-Primary:hover{box-shadow:0 1px #015288;background-color: rgb(0, 132, 219);top:2px;}
.btn-Primary:active{box-shadow:0 0 #015288;top:6px;}

.btn-Secondary{background-color:#9077DF;color:white;font-family:"Regular";box-shadow:0 3px #735AC4;;}
.btn-Secondary:hover{box-shadow:0 1px #735AC4;F;background-color:#9077DF;top:2px;}
.btn-Secondary:active{box-shadow:0 0 #735AC4;top:6px;}

.btn-Success{background-color:#8CC749;color:white;font-family:"Regular";box-shadow:0 3px #72A23C;;}
.btn-Success:hover{box-shadow:0 1px #72A23C;;background-color:#8CC749;top:2px;}
.btn-Success:active{box-shadow:0 0 #72A23C;;top:6px;}

.btn-Warning{background-color:#FF784A;color:white;font-family:"Regular";box-shadow:0 3px #D2613A;;}
.btn-Warning:hover{box-shadow:0 1px #D2613A;;background-color:#FF784A;top:2px;}
.btn-Warning:active{box-shadow:0 0 #D2613A;;top:6px;}

.btn-Danger{background-color:#DC4450;color:white;font-family:"Regular";box-shadow:0 3px #9F3139;;}
.btn-Danger:hover{box-shadow:0 1px #9F3139;background-color:#DC4450;top:2px;}
.btn-Danger:active{box-shadow:0 0 #9F3139;top:6px;}

h1, h2, h3, h4, h5, h6 {
	color: #4C0066;
	font-family: ExtraBold;
}

form {
	width:100%;
	text-align: center;
}
form label {
	font-family: Light;
	font-size: 8pt;
	width:30%;
	margin:5px;
	display:inline-block;
	background-color: rgb(238, 238, 238);
	padding:5px;
	/* height:70px; */
	vertical-align: top;
	border-radius: 5px;
}
form input {
	width:96%;
	height: 40px;
	font-family: Light;
	font-size:18pt;
	margin:0px;
	border: 0px;
	border-radius: 5px;

}

.ERROR{
	width: 100%;
	background-color: red;
	color: white;
	font-size: 9pt;
}

#BarraTitulo{
	width:100%;
	background-color:rgba(0, 0, 0, 0.05);
	box-shadow: 1px 4px 15px 1px rgba(0, 0, 0, 0.2);
}


#app_contenedor{display:grid;grid-template-columns:25% 25% 25% 25%;margin:0px;align-items:stretch;justify-items:stretch;justify-content:center;align-content:center;background-color:transparent;}
.aplicaciones{border-radius:2px;background-color:white;background-color:rgb(255,255,255);border:1px #DFE0E2 solid;vertical-align:top;overflow:hidden;margin:10px;border-radius:4px;background-image:linear-gradient(#ddd,white,#e9e6e6);-webkit-box-shadow:0px 3px 6px 0px rgba(0,0,0,0.75);-moz-box-shadow:0px 3px 6px 0px rgba(0,0,0,0.75);box-shadow:0px 3px 6px 0px rgba(0,0,0,0.75)}
.aplicaciones label{position:relative;top:0px}
.aplicaciones article{width:96%;display:inline-block;margin:5px;padding:0px;vertical-align:top;border-radius:5px;background-color:rgba(225,225,225,.9)}
.aplicaciones:hover{transition:all .1s ease-in-out}
.aplicaciones article:hover{background-color:#A2C30D;transition:all .2s ease-in-out}

.CategoriaNombre {
	font-size:9pt;
	color:gray;
	width:100%;
	text-align: center;
	display: inline-block;
}

@media only screen and (max-width:800px){

	
form {
	width:100%;
	text-align: center;
}
form label {
	font-family: Light;
	font-size: 8pt;
	width:95%;
	margin:5px;
	display:inline-block;
	background-color: rgb(238, 238, 238);
	padding:5px;
	/* height:70px; */
	vertical-align: top;
	border-radius: 5px;
}
form input {
	width:96%;
	height: 40px;
	font-family: Light;
	font-size:18pt;
	margin:0px;
	border: 0px;
	border-radius: 5px;

}

}